/***********************************
             HEADER
***********************************/

.main-header {
    display: flex;
    flex-direction: column;

    @media (max-width: 768px) {
        & {
          flex-direction: column-reverse;  
        }
    }
}

/***********************************
             NAV BAR
***********************************/

.nav-bar {
    background-color: rgb(19, 19, 19);
    border-bottom: solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(14deg, #6952f9, #ff83fb 73%, #ffc701);
    border-top: solid;
    border-width: 3px;
    order: 1;
    
    &__nav-list {
        display: flex;
        justify-content: center;
        list-style-type: none;

        @media (max-width: 768px) {
            & {
                flex-direction: column;
            }
        }
    }

    &__nav-item {
        text-align: center;
        width: 15%;

        &:nth-child(1) a:hover {
            background: linear-gradient(90deg, rgb(169, 103, 250), rgb(194, 111, 250));
        }
    
        &:nth-child(2) a:hover {
            background: linear-gradient(90deg, rgb(194, 111, 250), rgb(221, 120, 251));
        }
        &:nth-child(3) a:hover {
            background: linear-gradient(90deg, rgb(221, 120, 251), rgb(248, 129, 251));
        }
        &:nth-child(4) a:hover {
            background: linear-gradient(90deg, rgb(248, 129, 251), rgb(255, 155, 164));
        }
    }

    &__nav-link {
        color: rgb(255, 255, 255);
        display: block;
        padding: 1em 2em;
        text-decoration: none;
    }

    @media (max-width: 768px) {
        & {
            border-top: none;
            display: none;
            order: 0;
        }

        &__nav-item {
            width: 100%;
            &:nth-child(1) a:hover {
                background: linear-gradient(90deg, rgb(248, 129, 251), rgb(255, 143, 207), rgb(255, 197, 6));
            }

            &:nth-child(2) a:hover {
                background: linear-gradient(90deg, rgb(221, 120, 251), rgb(248, 129, 251));
            }
            
            &:nth-child(3) a:hover {
                background: linear-gradient(90deg, rgb(194, 111, 250), rgb(221, 120, 251));
            }
            
            &:nth-child(4) a:hover {
                background: linear-gradient(90deg, rgb(105, 82, 249), rgb(194, 111, 250));
            }
        }
    }
}

/***********************************
             SEARCH BAR
***********************************/

.search-bar {
    background-color: rgb(7, 7, 7);
    border-bottom: 1px solid rgb(20, 19, 19);
    display: flex;
    justify-content: space-between;

    &__logo-container {
        align-items: center;
        display: flex;
        flex-basis: 15%;
        height: 80px;
        justify-content: center;
        margin-bottom: 4px;
        margin-left: 5px ;
        margin-top: 4px;
        
        & img {
            height: 60px;
            width: 120px;
        }
    }

    &__form-container {
        display: flex;
        flex-basis: 100%;
        justify-content: center;
    }

    &__form-label {
        display: none;
    }

    &__form-search {
        background-color: rgb(243, 245, 240);
        border-radius: 20px;
        border: none;
        box-shadow: 0 1px 2px rgba(0,0,0, 0.2), 0 0 2px rgba(0,0,0, .2);
        color: black;
        height: 40px;
        margin-right: 2%;
        margin-top: 25px;
        outline: none;
        text-align: center;
        width: 60%;

        &:hover {
            border: 1px solid #816eff; 
            background-color: rgb(226, 226, 226);
        }

        &:focus {
            border: 2px solid #583eff;
            background-color: rgb(243, 245, 240);
        }
    }

    &__form-submit {
        background-color: #583eff;
        border-radius: 100%;
        border: none;
        color: white;
        height: 40px;
        width: 40px;
        margin-top: 25px;
        transition: .2s all;

        & img {
            width: 28px;
        }
        
        &:hover {
            background-color: #745fff;
            cursor: pointer;
        }

        &:focus {
            -moz-transform: scale(0.9);
            -webkit-transform: scale(0.9);
            transform: scale(0.9);
        }
    }

    &__carrito-container {
        align-items: center;
        display: flex;
        flex-basis: 5em;
        justify-content: center;
        position: relative;

        &:hover {
            border-bottom: 3px solid #816eff; 
            cursor: pointer;
        }

        & img {
            width: 50%;
        }

        & #contador {
            width: 15px;
            height: 15px;
            border-radius: 40px;
            text-align: center;
            font-weight: bold;
            font-size: 12px;
            background-color: #583eff;
            color: white;
            position: absolute;
            top: 18%;
            right: 18%;
        }
    }

    @media (max-width:676px) {

        &__logo-container img {
            height: 55px;
            width: 100px;
        }

        &__form-search {
            width: 80%;
            margin-left: 10%;
        }

        &__form-submit {
            display: none;
        }
    }
}

/***********************************
             MENU TOGGLE
***********************************/

#menu {
    display: none;

    &:checked + .nav-bar {
        display: block;
        text-align: center;
    }

    &:checked ~ .search-bar {
        border-bottom: 3px solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(90deg, rgb(248, 129, 251), rgb(255, 143, 207), rgb(255, 197, 6));
    }

    &:checked ~ .search-bar .menu-toggle__label {
        background-color: rgba(34, 34, 34, 0.781);
    }
}

.menu-toggle {
    display: none;
    flex-basis: 4em;
    position: relative;

    &__label {
        display: block;
        height: 100%;

        &:hover {
            border-bottom: 3px solid #6952f9;
            cursor: pointer;
        }
    }

    &__top-bread,
    &__meat,
    &__bottom-bread {
        background-color: #f3f3f3;
        border-radius: 5px;
        display: block;
        height: .2em;
        margin-left: 20% ;
        margin-right: 20% ;
        position: relative;
    }

    &__top-bread {
        top: 40%;
    }

    &__meat {
        top: 45%;
    }

    &__bottom-bread {
        top: 50%;
    }

    @media (max-width: 768px) {
        & {
            display: block;
        }
    }
}