*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

#body {
  box-sizing: border-box;background-color: #fff;
  size: unset;
  width: unset;
  height: unset;
  font-family: "Helvetica Neue",Helvetica,sans-serif;
  background-color: rgb(27, 27, 27);
}

#main {
  margin: 0px;
  background-color: rgb(27, 27, 27);
  min-height: unset;
  padding: 0px;
}
