.card {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: black;
    height: 400px;
    overflow: hidden;
    text-decoration: none;
    transition: all .2s;
    width: 280px;

    &:hover, &:focus {
        box-shadow: 0 1px 4px rgba(0,0,0, 0.2), 0 0 2px rgba(0,0,0, .4);
    }

    &__content {
        padding: 1em;
        text-align: center;
    }

    &__heading {
        margin-bottom: 1%;
        text-align: center;
    }

    &__image-container {
        height: 220px;
        overflow: hidden;
    }

    &__image {
        height: 100%;
        object-fit: cover;
        transition: .2s;
        width: 100%;
    }

    &:hover &__image, &:focus &__image {
        transform-origin: center;
        transform: scale(1.1);
    }
    

    @media (min-width: 1024px) {
        & {
            min-width: 260px;
            transition: 0s border;
        }

        &:hover {
            box-shadow: 0 1px 4px rgba(0,0,0, 0.2), 0 0 2px rgba(0,0,0, .4);
        }

        &:hover &__heading {
            text-decoration: underline;
        } 

        &__description {
            display: none;
        }
    
        &:hover &__description, &:focus &__description {
            display: block;
        }

        &__image-container {
            height: 330px;
            overflow: hidden;
            transition: .1s;
        }
    
        &:hover &__image-container, &:focus &__image-container {
            height: 200px;
        }
    }

    @media (min-width: 906px) and (max-width: 1023px) {
        & {
            width: auto;
        }

        &__description {
            font-size: 95%;
        }

    }

    @media (max-width: 905px) {
        &__description {
            font-size: 90%;
            margin-top: 2%;
        }
    }
}
