.section-cards {
    background-color: rgb(29, 29, 29);
    display: flex;
    flex-direction: column;
    height: 100%;

    &__header {
        color: white;
        background-color:rgb(27, 27, 27);
        border-bottom: 1px solid rgb(20, 19, 19);
        padding: 1% 2%;
        width: 100vw;

        @media (min-width: 677px) and (max-width: 905px) {
            & h1 {
                font-size: 20px;
            }

            & p {
                font-size: 14px;
            }
        }

        @media (max-width: 676px) {
            & h1 {
                font-size: 18px;
            }

            & p {
                font-size: 14px;
            }
        }
    }
}

.cards-container {
    align-self: center;
    border-radius: 2px;
    gap: 1em;
    justify-content: center;
    margin: 2%;
    width: fit-content;

    @media (min-width: 1384px) {
        & {
            display: grid;
            grid-template: 1fr / repeat(4, auto);
            gap: 2em;
        }
    }

    @media (min-width: 906px) and (max-width: 1383px) {
        & {
            display: grid;
            grid-template: 1fr / repeat(3, auto);
            gap: 2em;
        }
    }

    @media (min-width: 677px) and (max-width: 905px) {
        & {
            display: grid;
            grid-template: 1fr / repeat(2, auto);
            gap: 2em;
        }
    }

    @media (max-width: 676px) {
        & {
            display: grid;
            grid-template: 1fr / repeat(1, auto);
            gap: 2em;
            margin: 4%;
        }
    }
}

#noProductos {
    color: white;
}
