.card {
    background-color: rgb(19, 19, 19);
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: white;
    height: 400px;
    overflow: hidden;
    text-decoration: none;
    transition: all .2s;
    width: 280px;
    position: relative;

    &:hover, &:focus {
        box-shadow: 0 1px 4px rgba(0,0,0, 0.2), 0 0 2px rgba(0,0,0, .4);
    }

    &__content {
        padding: 1em;
        text-align: center;
    
    }

    &__heading {
        margin-bottom: 1%;
        text-align: center;
    }

    &__image-container {
        height: 220px;
        overflow: hidden;
        border-bottom: solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(90deg, #6952f9, #ff83fb 73%, #ffc701);
        border-width: 2px;
    }

    &__image {
        height: 100%;
        object-fit: cover;
        transition: .2s;
        width: 100%;
    }

    & #btnComprar {
        position: absolute;
        top: 92%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-weight: bold;
        text-align: center;
        padding: 10px;
        background-color: rgb(39, 153, 54);
        cursor: pointer;
        border-radius: 8px;
        border: 1px solid rgb(35, 128, 47);

        &:hover {
            background-color: rgb(83, 211, 100);
            border: 1px solid rgb(71, 185, 86);
        }

    }

    &:hover &__image, &:focus &__image {
        -moz-transform-origin: center;
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        transform: scale(1.1);
    }
    

    @media (min-width: 1024px) {
        & {
            min-width: 260px;
            transition: 0s border;
        }

        &:hover {
            box-shadow: 0 1px 4px rgba(0,0,0, 0.2), 0 0 2px rgba(0,0,0, .4);
        }

        &:hover &__heading {
            text-decoration: underline;
        } 

        &__description {
            display: none;
        }
    
        &:hover &__description, &:focus &__description {
            display: block;
        }

        & #btnComprar {
            display: none;
        }

        &:hover #btnComprar {
            display: block;
        } 

        &__image-container {
            height: 300px;
            overflow: hidden;
            transition: .1s;
        }
    
        &:hover &__image-container, &:focus &__image-container {
            height: 200px;
        }
    }

    @media (min-width: 906px) and (max-width: 1023px) {
        & {
            width: auto;
        }

        &__description {
            font-size: 95%;
        }

    }

    @media (max-width: 905px) {
        &__description {
            font-size: 90%;
            margin-top: 2%;
        }
    }
}
