.section-carrito {
    display: none;
    position: fixed;
    width: 50%;
    min-width: 421px;
    height: max-content;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(20, 20, 20);
    border-radius: 16px;
    border: 1px solid rgba(146, 82, 255, 0.747);
    color: white;
    
    &--visible {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
 
    & table {
        border-collapse: collapse;
        width: 98%;
        margin-top: 1%;

        & th {
            padding: 1% 0;

            &:nth-child(1) {
                border-top-left-radius: 12px;
            }

            &:nth-child(6) {
                border-top-right-radius: 12px;
            }
        }

        & td {
            padding: .5% 0;
        }
    }

    & th, td {

        &:nth-child(1) {
            width: 25%;
        }

        &:nth-child(2) {
            width: 10%;
            text-align: center;
        }

        &:nth-child(3) {
            width: 10%;
            text-align: center;
        }
        
        &:nth-child(4) {
            width: 20%;
        }

        &:nth-child(5) {
            width: 10%;
            text-align: center;
        }
        
        &:nth-child(6) {
            width: 10%;
            text-align: center;
        }

        &:nth-child(7) {
            width: 10%;
            text-align: center;
        }
    }

    & #btn__Cerrar {
        background: none;
        border: none;
        align-self: flex-end;
        margin: 1%;
        cursor: pointer;

        &:hover {
            background-color: rgb(146, 82, 255);
            border-radius: 9px;
        }

        & img {
            width: 30px;
        }
    }

    & #btn__borrar {
        width: 55%;
        min-width: 21px;
        height: 60%;
        min-height: 19px;
        background-color: rgb(236, 69, 69);
        border-color: rgb(245, 53, 53);
        border-radius: 5px;
        cursor: pointer;

        & img {
            width: 70%;
        }

        &:hover {
            background-color: rgb(245, 93, 93);
            border-color: rgb(250, 77, 77);
        }
    }

    & #precioFinal {
        margin-top: 3%;
        margin-bottom: 0.5%;
        background-color: rgb(33, 131, 33);
        border-radius: 4px;
        padding: 1%;
    }
    
    & .btn__enviarCarrito {
        color: white;
        font-weight: bold;
        text-align: center;
        padding: 10px;
        background-color: rgb(146, 82, 255);
        cursor: pointer;
        border-radius: 10px;
        border: 1px solid rgb(110, 47, 218);
        margin: 2% 0;

        & img {
            width: 20px;
            vertical-align: -6px;
        }

        &:hover {
            background-color: rgb(174, 128, 255);
        }
    }

    @media (max-width: 450px) {
        & {
            width: 80%;
            min-width: 300px;
        }

        & table {
            border-collapse: collapse;
            width: 90%;
            font-size: 12px;

            & img {
                width: 25px;
            }
        }

        & #btn__Cerrar {
            img {
                width: 20px;
            }
        }

        & #precioFinal {
            font-size: 14px;
            padding: 1%;
        }

        & .btn__enviarCarrito {
            padding: 6px;
            font-size: 12px;

            & img {
                width: 15px;
                vertical-align: -4px
            }
        }
    };
}