.section-cards {
    background-color: #f1f2f3;
    padding: 1em;
}

.cards-container {
    gap: 1em;
    justify-content: center;

    @media (min-width: 1024px) {
        & {
            display: grid;
            grid-template: 1fr / repeat(3, auto);
            gap: 2em;
        }
    }

    @media (min-width: 906px) and (max-width: 1023px) {
        & {
            display: grid;
            grid-template: 1fr / repeat(3, auto);
            gap: 2em;
        }
    }

    @media (min-width: 677px) and (max-width: 905px) {
        & {
            display: grid;
            grid-template: 1fr / repeat(2, auto);
            gap: 2em;
        }
    }

    @media (max-width: 676px) {
        & {
            display: grid;
            grid-template: 1fr / repeat(1, auto);
            gap: 2em;
        }
    }
}
